{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Resume </title>
  <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="{{ STATIC_URL }}css/resume.css" />
</head>
<body id="resume">
<div id="wrap">
<div class="contentwrap">
<div class="container_24">
<section class="grid_20 prefix_2 suffix_2">

  <!-- Personal Contact Information in hCard markup --> 
  {% with personal_info|first as personal_info %}
  <div id="contactinfo" class="vcard"> 
    <h1 class="fn n" id="name"><a class="url" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site_name }}{% url 'resume_home' %}" rel="me"><span class="given-name">{{ personal_info.first_name}}</span> <span class="family-name">{{ personal_info.last_name }}</span></a></h1> 
    <div class="adr"> 
      <span class="locality">{{ personal_info.locality }}</span>, <abbr class="region" title="{{ personal_info.region }}">{{ personal_info.region_shorthand }}</abbr> 
    </div>
    
    {% if personal_info.email %}
    <div class="email">
        Email: <a href="mailto:{{ personal_info.email }}">{{ personal_info.email }}</a>
    </div>
    {% endif %}
    
    {% if personal_info.linkedin %}
    <div class="linkedin">
        LinkedIn: <a href="{{ personal_info.linkedin }}">{{ personal_info.linkedin|slice:"11:" }}</a>
    </div>
    {% endif %}
    
    {% if personal_info.blog %}
    <div class="blog">
        Blog: <a href="{{ personal_info.blog }}">{{ personal_info.blog|slice:"7:-1" }}</a>
    </div>
    {% endif %}
    
    {% if personal_info.twitter %}
    <div class="twitter">
        Twitter: <a href="http://twitter.com/{{ personal_info.twitter }}">@{{ personal_info.twitter }}</a>
    </div>
    {% endif %}
    
    {% if personal_info.github %}
    <div class="github">
        Github: <a href="http://github.com/{{ personal_info.github }}">{{ personal_info.github }}</a>
    </div>
    {% endif %}
  </div> 
  {% endwith %}
  <!-- End Personal Contact Information --> 
 
    <div class="clear"></div> 
 
    <h1>Summary</h1>
    <p class="summary">
      {% with overview|first as overview %}
      {{ overview.text|safe }}
      {% endwith %}
    </p>  
    
    {% for category, jobs in job_list.items %}
    <h1>{{ category }}</h1>
     {% for job in jobs %}
     {% if job.is_public %}
     <h2 class="title">{{ job.title }}</h2> 
     <h3>
      {% for company in job.company_set.all %}
      <span class="org">{{ company }}</span>, <span class="location">{{ company.location }}</span>
      {% if not forloop.last %}
      &amp;
      {% endif %}

      {% endfor %}
      </h3>
      <h4>(<abbr class="dtstart" title="{{ job.full_start_date }}">{{ job.formatted_start_date }}</abbr> - <abbr class="dtend" title="{{ job.full_end_date }}">{{ job.formatted_end_date }}</abbr>)</h4>
      
      <div class="description">{{ job.description }}</div>
      <ul class="achievements">
        {% for a in job.accomplishment_set.all %}
          <li>{{ a.description }}</li>
        {% endfor %}
      </ul>
     {% endif %}
     {% endfor %}
    {% endfor %}

    <h1>Education</h1>
    {% for edu in education %}
    <h2>{{ edu.name }}</h2>
      {%for school in edu.school_set.all %}
      <h3><span class="org"><a rel="employer" href="{{ school.school_url }}" class="summary url" title="{{ school.name }}">{{ school.name }}</a></span> - <span class="location">{{ school.location }}</span>
      {% if not forloop.last %}
      /
      {% endif %}
      {% endfor %}</h3>
  <h4><span class="period"><abbr class="dtstart" title="{{ edu.full_start_date }}">{{ edu.formatted_start_date }}</abbr> - <abbr class="dtend" title="{{ edu.full_end_ate }}">{{ edu.formatted_end_date }}</abbr></span></h4>
      
  <div class="summary"> {% if edu.has_summary_items %}<ul>{% for edu_item in edu.summary_as_list %}
      <li>{{ edu_item }}</li>
  {% endfor %} 
  </ul>{% endif %}</div>
     {% endfor %}

    <h1>Skills</h1>
    <ul id="skill-list">
      {% for skillset in skill_sets %}
      <li class="skillset"><span class="skillset-title">{{ skillset.name }}:&nbsp;</span>
        {% for s in skillset.skill_set.all %}
          <a href="{{ s.skill_url }}" class="skill" rel="tag">{{ s.name }}</a>{% if not forloop.last %},&nbsp;{% endif %}
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
    

</section>
<div class="clear"></div>
</div>
</div>

</div>
</body>
</html>
